<%= image_tag "yado.jpeg", class: 'img' %>
<h2>九州のおすすめ温泉宿を検索できます</h2>

新規ユーザー登録
<%= form_for @tourist, url: {action: :create} do |f| %>
  <%= f.label :name, 'ユーザ名' %> 
  <%= f.text_field :name %> 
  <%= f.label :pass, 'パスワード' %> 
  <%= f.password_field :pass %> <br>
　<%= link_to '戻る', '/' %>
　<%= f.submit '登録' %>
<% end %>