<center><h2>新規ユーザー登録</h2></center>
<%= form_for @tourist, url: {action: :create} do |f| %>
<center>
  <%= f.label :name, 'ユーザ名' %> 
  <%= f.text_field :name %> 
  <%= f.label :pass, 'パスワード' %> 
  <%= f.password_field :pass %> 
  <%= f.submit '登録' %><br>
　<%= link_to '戻る', '/' %>
</center>
<% end %>