<%= image_tag "yado.jpeg", class: 'img' %>
<h2>九州のおすすめ温泉宿を検索できます</h2>
<%= link_to 'ログアウト', top_logout_path %>　
<%= link_to'宿を登録', new_hotel_path %>

<div href="#"class="search-form">
    <%= form_with url: search_path ,method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, placeholder: "温泉の特徴を検索できます" %>
        <%= f.submit "検索" %>　▶
        <%= link_to '検索リセット', :action => 'index' %>
        
    <% end %>
</div>
<div class ="hotel-list">
<% @hotels.each do |hotel| %>
<p>
    <hr>
    <%= image_tag "/get_image/#{hotel.id}" , class: 'image' %>
    <br>
    
    <div class = "flex">
    温泉旅館:<%= link_to hotel.hname , "/hotels/#{hotel.id}" %>
    <br>
    所在地:<%= hotel.place %><br>

    1泊/<%= hotel.price %>円
    <br>
    コメント：<%= hotel.comment %><br>
    </div>
    温泉の特徴:   <%= hotel.sptype %>
    <br>
    <%= link_to'削除',"/hotels/#{hotel.id}", method: :delete %>
    <% end %>
</p>
</div>