<h1>宿ログ</h1>
<h2>九州のおすすめ温泉宿を検索できます</h2>
<% @hotels.each do |hotel| %>
<p>
    温泉旅館:<%= link_to hotel.hname , "/hotels/#{hotel.id}" %>
    <br>
    所在地:<%= hotel.place %>
    </br>
    1泊/<%= hotel.price %>円
    <br>
    <%= image_tag "/get_image/#{hotel.id}" %>
    </br>
     <%= hotel.comment %>
    <p>温泉の特徴:   <%= hotel.sptype %></p>
    <br>
    <%= link_to'削除',"/hotels/#{hotel.id}", method: :delete %>
    <% end %>
</p>

<%= link_to'宿を登録', new_hotel_path %>