<p>
   <strong>宿ログ</strong>
   <br>
   温泉宿:<%= @hotel.hname %>
</p>

<p>
    <strong>所在地</strong>
    <%= @hotel.place %>県
    <br>
    <strong></strong>
    一泊<%= @hotel.price %>円
    <br>
    <strong><%= @hotel.hname %>画像</strong>
    <br>
    <%= image_tag "/get_image/#{@hotel.id}" %>
    <br>
    <strong>旅館からのコメント</strong>
    <br>
    <%= @hotel.comment %>
</p>
<hr>
<p>
    <strong>お客様の声</strong>
    <br>
    <% @hotel.reviews.each do |e| %>
        <p>
            コメント: <%= e.rcomment %>, 
            評価: <%= e.star %>, 
            投稿者: <%= Tourist.find(e.tourist_id).name %>
        </p>
    <% end %>
</p>
<hr>
<p>
    <%= link_to 'レビューを投稿する', new_review_path(hotel_id: @hotel.id) %>
</p>